--extra-index-url https://shimwell.github.io/wheels
moab
openmc
cadquery
jupyterlab
paramak
remove_dagmc_tags
pyvista[jupyter]
pytest
nbformat
nbconvert
ipykernel
jupyter-book
openmc_source_plotter
openmc_depletion_plotter
openmc_data_downloader
openmc_data
dagmc_geometry_slice_plotter
cad_to_dagmc>=0.9.5
openmc-plasma-source
openmc_regular_mesh_plotter
neutronics_material_maker[density]
git+https://github.com/svalinn/pydagmc
